/* General */

html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
   text-decoration: underline;
   border-bottom-color: #808080;
   color: #808080;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* Sections */

#intro {
  height: 100%;
  width: 100%;
}

#school {
  margin-top: 2%;
  height: 98%;
  width: 100%;
  overflow: scroll;
}

#projects {
  margin-top: 2%;
  height: 98%;
  width: 100%;
}

#fun {
  margin-top: 2%;
  height: 98%;
  width: 100%;
}

/* Column CSS */

.columns {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  text-align: center;
}

.top_text {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  text-align: center;
  /* margin-top: 2%; */
}

.column {
  float: left;
  width: 33.33%;
  align-items: center;
}

.image {
  max-height: 30%;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
}

.tagline {
  font-family: 'Karla', sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6%;
}

.desc {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  width: 80%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
}

/* Intro/first page */

.split_left {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split_right {
  height: 100%;
  width: 50%;
  float: left;
  background-image: url("../../images/temp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.main_header {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  position: relative;
  top: 28%;
  text-align: center;
}

.main_content {
  font-size: 20px;
  position: relative;
  width: 85%;
  top: 30%;
  text-align: center;
  line-height: 30px;
}

.vmw {
  font-weight: bold;
  color: #006699;
}

/* School/second page */

.dc {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  color: #4b9bd0;
}

.vr {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  color: #00b2e3;
}

.csm {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  color: #9ad4a9;
}

.write {
  color: #4b9bd0;
  font-weight: bold;
}

.ai {
  color: #0033cc;
  font-weight: bold;
}

.teach {
  color: #5385c1;
  font-weight: bold;
}

/* Projects/third page */

.list {
  margin-top: 5%;
}

.left {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-weight: bold;
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  width: 70%;
  float: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Fun/last page */

.vlogs {
  color: #ff0000;
  font-weight: bold;
}

.music {
  color: #1ed760;
  font-weight: bold;
}

.end {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.talk {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.contact {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin-top: 2%;
}

.links {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

.creds {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  float: right;
  margin-right: 2%;
  margin-top: 0%;
}

