html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

#intro {
  height: 100%;
}

#intro_container {
  height: 100%;
  width: 100%;
}

#school {
  height: 100%;
}

#school_container {
  height: 100%;
  width: 100%;
}

#projects {
  height: 100%;
}

#projects_container {
  height: 100%;
  width: 100%;
}

#fun {
  height: 100%;
}

#fun_container {
  height: 100%;
  width: 100%;
}

/* Control the left side */
.split_left {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* Control the right side */
.split_right {
  height: 100%;
  width: 50%;
  float: left;
  background-image: url("../../images/temp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.main_header {
  font-size: 30px;
  position: relative;
  top: 28%;
  text-align: center;
}

.main_content {
  font-size: 20px;
  position: relative;
  width: 85%;
  top: 28%;
  text-align: center;
  line-height: 30px;
}


/* Style the image inside the centered container, if needed */

/* Text stuff */

h2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
text-decoration: none;
}

a:hover {
   text-decoration: underline;
   border-bottom-color: #808080;
   color: #808080;
}

.vmw {
  font-weight: bold;
  color: #006699;
}

.top_text {
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}